html 

    head 
        link(rel="stylesheet", href="estilos.css")
        title='Agregar Productos'
    body 

        form(action="/productos" method="POST")
            input(type="text" placeholder="Nombre del productos..." name="nombre") 
            input(type="number" placeholder="precio..." name="precio")
            input(type="url" placeholder='url...' name="url")
            button agregar
        
        